@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
    --font-head: var(--font-head);
    --font-sans: var(--font-sans);
    --radius: var(--radius);

    --shadow-xs: 1px 1px 0 0 var(--border);
    --shadow-sm: 2px 2px 0 0 var(--border);
    --shadow: 3px 3px 0 0 var(--border);
    --shadow-md: 4px 4px 0 0 var(--border);
    --shadow-lg: 6px 6px 0 0 var(--border);
    --shadow-xl: 10px 10px 0 1px var(--border);
    --shadow-2xl: 16px 16px 0 1px var(--border);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary-hover: var(--primary-hover);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-lime: var(--lime);
    --color-blue: var(--blue);
    --color-purple: var(--purple);
    --color-pink: var(--pink);
    --color-orange: var(--orange);
}

:root {
    --radius: 0;
    --background: #000000;
    --foreground: #FFFFFF;
    --primary: #8BFF00;
    --primary-foreground: #000000;
    --primary-hover: #97f819;
    --secondary: #000000;
    --secondary-foreground: #FFFFFF;
    --card: #FFFFFF;
    --card-foreground: #000000;
    --muted: #F3F4F6;
    --muted-foreground: #8B8B8B;
    --accent: #8B00FF;
    --accent-foreground: #000000;
    --destructive: #FF008B;
    --destructive-foreground: #FFFFFF;
    --border: #3a3a3a;
    --input: #FFFFFF;
    --ring: #8BFF00;

    --lime: #8BFF00;
    --blue: #008BFF;
    --purple: #8B00FF;
    --pink: #FF008B;
    --orange: #FF8B00;
}